<div class="row" ng-init="init()">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Home</h2>
      </div>
      <div class="panel-body">
        <section> <!-- variables table -->
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                  <!--<thead>-->
                  <!--<tr>-->
                  <!--<td>Id</td>-->
                  <!--<td>Review</td>-->
                  <!--</tr>-->
                  <!--</thead>-->
                  <tbody>
                  <tr ng-repeat="driver in drivers">
                    <td><a href="/#!/drivers/{{driver}}"> {{driver}} </a></td>
                    <td><a href="/#!/drivers/{{driver}}/reviews"> Driver Reviews </a></td>
                    <td><a href="/#!/drivers/{{driver}}/deliveries/{{deliveryId}}_{{$index}}/review">
                       Create delivery review </a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
